/* best seen at 1500px or less */
/* based on animation by Ted McDonald https://codepen.io/tedmcdo/pen/PqxKXg */

*, :root {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
  animation: fade 2s cubic-bezier(0.22, 0.61, 0.36, 1) 1 none;
}

.wave-container {
  overflow-x: hidden;
}

.fysh-container {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: fade 2s cubic-bezier(0.22, 0.61, 0.36, 1) 1 none;
}

.fysh {
  position: relative;
  top: -50%;
  left: -50%;
  font-size: 2rem;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}

code.blinking {
  animation: blink 1s infinite steps(1);
}

/* .fysh:nth-child(1) {

} */

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 4s ease -1.25s infinite;
  opacity: 1;
}

.bottom {
  height: 200vh;
  width: 100%;
  position: relative;
  bottom: -100%;
  background: linear-gradient(#185871  25%, black);
}

.bottom-2 {
  position: relative;
  width: 100%;
  bottom: -100%;
  height: 100vh;
  background: black
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type {
  0% {
    display: hidden;
  }
  100% {
    display: inline-block;
  }
}
