@keyframes cursor {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
  80% {
    opacity: 1;
  }
  100% {
    font-size: 0;
  }
}

@keyframes appear {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 10vw;
  }
}

code.blinking {
  animation: cursor 4s 1 steps(1) 3.5s forwards;
}

code.blinking-after {
  font-size: 0;
  animation: cursor-after 0.5s 1 steps(1) 7.5s;
}

@keyframes cursor-after {
  0% { font-size: var(--fysh); }
  100% { font-size: var(--fysh); }
}