/* body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
} */

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

nav.corner-nav {
  position: sticky;
  top: 0;
  z-index: 400;
  height: 0;
}

nav.corner-nav a {
  margin: 1rem;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  font-weight: 200;
  animation: glow 1s ease infinite alternate;
}

main#main {
  background-color: black;
  color: white;
  text-align: center;
  padding: 4rem;
}

main#main a {
  color: #4fff64;
  font-weight: bold;
}

@keyframes glow {
  from {
    color: #4fff64a3;
    text-shadow: 0 0 5px #00cc4488, 0 0 7px #00cc4488;
  }
  to {
    color: #4fff647b;
    text-shadow: none;
  }
}
