*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #4fff64;
  text-decoration: none;
}

nav.corner-nav {
  position: sticky;
  top: 0;
  z-index: 400;
  height: 0;
}

nav.corner-nav a {
  margin: 1rem;
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
  font-weight: 200;
  animation: glow 1s ease infinite alternate;
}

main#main, main#main-block, header#header, footer#footer {
  background-color: black;
  color: white;
}

main#main {
  text-align: center;
  padding: 4rem;
}

main#main a {
  font-weight: bold;
}

main#main-block {
  padding-left: 4rem;
  padding-right: 4rem;
  flex: 1;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@keyframes glow {
  from {
    color: #4fff64a3;
    text-shadow: 0 0 5px #00cc4488, 0 0 7px #00cc4488;
  }
  to {
    color: #4fff647b;
    text-shadow: none;
  }
}
