web-interpreter.interpreter {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}

web-interpreter div.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

web-interpreter div.boxContainer {
    display: block;
}

web-interpreter textarea.inputBox, web-interpreter textarea.outputBox {
    height: 100%;
    width: 100%;
    resize: vertical;
    font-family: monospace;
    min-height: 50vh;
}

web-interpreter div.boxContainer div {
    margin: 2rem;
}

@media only screen and (min-width: 992px) {
    web-interpreter div.boxContainer {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    web-interpreter div.boxContainer div {
        flex: 1;
    }
}
