web-interpreter.interpreter {
    display: flex;
    flex-direction: column;
}

web-interpreter textarea[data-id="input"] {
    height: 50vh;
    resize: vertical;
    font-family: monospace;
}

web-interpreter textarea[data-id="output"] {
    height: 20vh;
    resize: vertical;
    font-family: monospace;
}
