.opening {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.ogFysh {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fysh);
  height: 100vh;
}

.ogFysh > code {
  background-color: transparent;
  flex: 1;
  border: none;
  align-content: center;
}
